.nice-select .list {
	box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.3);
}

.get_adv {
	margin-top: 3.9rem;
	padding-top: 4rem;
	border-top: 1px solid #E4E8F3;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.0rem;
}

.get_adv__title {
	margin-bottom: 2.8rem;
}

.get_adv__item {
	display: flex;
	align-items: flex-start;
}

.get_adv__item + .get_adv__item {
	margin-top: 1.6rem;
}

.get_adv__item svg {
	display: block;
	width: 1.5rem;
	margin-top: 0.5rem;
	margin-right: 1.8rem;
}

.get_adv__btn {
	margin-top: 4.2rem;
}

.new-ad__item-subtitle {
	margin-top: -1.9rem;
	margin-bottom: 3.2rem;
	font-size: 1.6rem;
	line-height: 1.9rem;
}

@media (max-width: 48em) {
	.get_adv {
		font-size: 3.6rem;
		line-height: 4.5rem;
	}

	.get_adv__item svg {
		width: 4.5rem;
		margin-top: 2rem;
	}

	.get_adv__item + .get_adv__item {
		margin-top: 3rem;
	}

	.get_adv__btn {
		justify-content: center;
		width: 100%;
		margin-top: 7rem;
	}

	.new-ad__item-subtitle {
		margin-top: -3rem;
		margin-bottom: 3.2rem;
		font-size: 3rem;
		line-height: 3.9rem;
	}
}